@model IEnumerable<SaborDeMexicoAdmin.Models.DetalleOrden>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPresentacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPresentacionNavigation.Medida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orden.Id)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetalleOrden">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetalleOrden">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetalleOrden">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
