@model IEnumerable<SaborDeMexicoAdmin.Models.Orden>

@{
    ViewData["Title"] = "Ordenes";
}

<h1>Ordenes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cliente)
                </th>
                <th>
                    Orden
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostoEnvio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoPago)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Estatus)
                </th>
              
                <th>
                    @Html.DisplayNameFor(model => model.Ruta)
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ordencol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostoEnvio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPago)
                    </td>
                    @{if (item.Activo == 1)
                        {
                            <td>En espera de pago</td>
                        }
                        else
                        {
                            <td>Pagado</td>
                        }}
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Ruta.Direccion)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>